# This is a basic workflow to help you get started with Actions

name: Build Documentation

# Controls when the workflow will run
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Build DocC docs and deploy to gh-pages branch
        uses: DoccZz/docc2ghpages@v1
        with:
          scheme: "Twift"  
